project:
    fullPath: \"CxServer/spring-security-saml-insecure"
    origin: \"Jenkins\"
sast:
    configuration: \"Default Configuration\"
    excludeFolders: \"_cvs, .svn, .hg, .git, .bzr, bin, obj, backup, node_modules, test\"
    incremental: false
    preset: \"High and Medium and Low\"
    privateScan: false
sca:
    fullPath: \"CxServer/spring-security-saml-insecure"
